
.body{
    background-color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nofine {
    position: fixed; 
    top: 0;
    left: 0;
    width: 45vw; 
    height: 100vh; 
    background-color: black;
}

.t1 {
    text-align: center;
    margin-top: 30%;
    color: white;
}

.fine {
    position: fixed; 
    top: 0;
    right: 0; 
    width: 45vw; 
    height: 100vh; 
    background-color: black; 
}

.small-box {
    width: 40%; 
    height: 25%; 
    background-color: white;
    color: black;
    margin: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; 
    border-radius: 10px;
}

.small-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.small-box .status-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.small-box .status-column {
    flex: 1;
}

.small-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10%; 
}